---
imageTag: v1.0.3-beta7

lake:
  image:
    repository: quay.io/konflux-ci/konflux-devprod/devlake-backend
    tag: ee8e50fcd2b8477d099d74ba08fa9546785ae4d6
  encryptionSecret:
    secretName: konflux-devlake-secrets
    autoCreateSecret: false
  securityContext: {}
  containerSecurityContext: {}
  resources:
    requests:
      cpu: "2"
      memory: "4Gi"
    limits:
      memory: "8Gi"
  envs:
    REMOTE_PLUGIN_DIR: ""
    DISABLED_REMOTE_PLUGINS: "true"
    LOGGING_DIR: "/tmp"
    PIPELINE_MAX_PARALLEL: "4"
    IN_SECURE_SKIP_VERIFY: "true"
  envFrom:
    - secretRef:
        name: konflux-devlake-secrets

mysql:
  useExternal: true
  externalServer: "kubernetes.default.svc.cluster.local"  # K8s API - always available
  externalPort: 443  # HTTPS port - always open

grafana:
  image:
    repository: quay.io/konflux-ci/konflux-devprod/devlake-dashboards
    tag: 5bf7806e7f4d0cc6a9b7192cb02743fad272c3a1
  podSecurityContext: {}
  securityContext:
    fsGroup: null
    runAsGroup: null
    runAsUser: null
  initChownData:
    enabled: false
  envFromSecrets:
    - name: "konflux-devlake-secrets"
  env:
    TZ: "UTC"
    GF_SERVER_SERVE_FROM_SUBPATH: "true"
  grafana.ini:
    server:
      serve_from_subpath: "true"
      root_url: "${GF_SERVER_ROOT_URL}"
    auth.google:
      enabled: true
      client_id: "${GF_AUTH_GOOGLE_CLIENT_ID}"  # Set via secret
      client_secret: "${GF_AUTH_GOOGLE_CLIENT_SECRET}"  # Set via secret
      scopes: "https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email openid"
      auth_url: "https://accounts.google.com/o/oauth2/auth"
      token_url: "https://accounts.google.com/o/oauth2/token"
      api_url: "https://www.googleapis.com/oauth2/v1/userinfo"
      allowed_domains: "redhat.com"
      allow_sign_up: true
      auto_login: false
ui:
  image:
    repository: quay.io/konflux-ci/konflux-devprod/devlake-frontend
    tag: 0899f4a4865695fe4a5040aec38224e31edb0222
  securityContext: {}
  containerSecurityContext: {}
  basicAuth:
    enabled: false
    autoCreateSecret: true
    secretName: ""

service:
  type: ClusterIP

ingress:
  enabled: false

option:
  autoCreateSecret: false
  database: mysql
  connectionSecretName: "konflux-devlake-secrets"

extraResources:
  - apiVersion: route.openshift.io/v1
    kind: Route
    metadata:
      name: konflux-devlake-ui
    spec:
      to:
        kind: Service
        name: konflux-devlake-ui
        weight: 100
      port:
        targetPort: ui
      tls:
        termination: edge
        insecureEdgeTerminationPolicy: Redirect
      wildcardPolicy: None
