---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: konflux-devlake

resources:
- ../base
- external-secrets
- https://github.com/konflux-ci/konflux-devlake-mcp.git/k8s?ref=0f9eb48860af2ca3809fa6c745af89f6238458d3

helmCharts:
- name: devlake
  repo: https://apache.github.io/incubator-devlake-helm-chart
  version: 1.0.2
  releaseName: konflux-devlake
  namespace: konflux-devlake
  valuesFile: helm-values.yaml
  includeCRDs: true

images:
- name: quay.io/konflux-ci/konflux-devprod/devlake-mcp-server
  newName: quay.io/konflux-ci/konflux-devprod/devlake-mcp-server
  newTag: 0f9eb48860af2ca3809fa6c745af89f6238458d3

commonAnnotations:
  argocd.argoproj.io/sync-wave: "-1"
