---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: konflux-devlake

resources:
- ../base
- ../base/oauth2-proxy
- external-secrets
- https://github.com/konflux-ci/konflux-devlake-mcp.git/k8s?ref=cd87be1563d7d05b00d2e917424b4f6d90c90821

patches:
- path: configmap-patch.yaml

helmCharts:
- name: devlake
  repo: https://apache.github.io/incubator-devlake-helm-chart
  version: 1.0.2
  releaseName: konflux-devlake
  namespace: konflux-devlake
  valuesFile: helm-values.yaml
  includeCRDs: true

images:
- name: quay.io/konflux-ci/konflux-devprod/devlake-mcp-server
  newName: quay.io/konflux-ci/konflux-devprod/devlake-mcp-server
  newTag: cd87be1563d7d05b00d2e917424b4f6d90c90821

commonAnnotations:
  argocd.argoproj.io/sync-wave: "-1"
